<header>
  <h1>
    Welcome to the news channel
  </h1>
  <div class="navbar">
    <a href="/">
      Вернуться на домашнюю страницу
    </a>
  </div>
</header>

<div class="content">
{{#each categoryItem}}
  <div class = "ssilki">
    <a href="/category/{{_id}}">
      {{name}}
    </a>
  </div>
{{/each}}
</div>