<header>
  <h1>
    Welcome to the news channel
  </h1>
  <div class="navbar">
    <a href="/category">
      Вернуться на страницу категорий
    </a>
  </div>
</header>

<div class="content">
  {{#each news}}
    <h1>
      <a href="/news/{{_id}}">{{title}}</a>
    </h1>
  {{/each}}
</div>